@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	header, footer
		font-size: em(14px)
		.tel
			font-size: em(18px)

	.header-bottom-line
		input[type="submit"]
			font-family: 'RobotoBold'

	.services
		.img-wrap
			margin-top: 30px

	.howWeWork
		.work-stages
			&:last-child
				margin-left: 45px

	.comments
		p
			padding: 0 206px

	.b-top
		margin-left: 50%

	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	a
		outline: none

	.content-wrap
		padding-top: 0

	.top-nav
		display: none
		min-width: 260px
		margin-top: 20px
		float: right
		top: 40px
		right: 20px
		li 
			display: block
			padding: 0
			text-align: right
			background-color: #1b232c
			opacity: .8
			border-bottom: 1px solid rgba(255,255,255,.1)
		a
			display: block
			padding-right: 10px
			line-height: 40px
			text-transform: uppercase
			transition: all .5s
	header
		.top-nav
			a
				&:hover
					background-color: #2e3d4d
	.toggle-menu
		display: inline-block

	.active
		a
			&::after
				visibility: hidden
				transform: scaleX(0)
			&:hover::after
				visibility: visible
				transform: scaleX(1)

	.header-bottom-line
		h1
			margin-top: 40px
			font-size: 2.5em
			text-align: center

	.header-bottom-line
		form
			margin-top: 40px

	section
		padding-top: 40px
		h2
			font-size: 1.5em

	.section-content
		margin-top: 0
		padding-top: 55px

		.row
			margin-bottom: 0

		div[class*="col"]
			padding: 0 20px

	.evaluation
		.section-content
			div[class*='col']
				padding: 0 50px

	.section-content-down
		padding-bottom: 50px

	.deals
		.img-wrap
			margin-top: 50px

	.services
		.img-wrap
			margin-top: 50px


	.howWeWork
		.work-stages
			&:last-child
				margin-left: -45px
			&:nth-child(3)
				margin-left: 45px

	.comments
		p
			padding: 0 100px


	footer
		.menu
			opacity: 1
		.top-nav
			position: relative
			top: 30px
			right: 0


	.b-top
		margin-left: 45%



	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.center
		text-align: center

	.section-content
		div
			text-align: center

	.s1_scales
		visibility: hidden

	h3
		font-size: em(20px)

	.s1_logo
		display: none

	.section-content
		padding-top: 0
		background-image: none !important

	.moved-top,.moved-down
		margin: 0 !important

	.services
		.section-content
			padding-top: 40px
			p
				padding-bottom: 20px
				border-bottom: 1px solid #546476;
		.info-item
			min-height: auto
		.img-wrap
			display: none

	.advantages
		.card
			&:nth-child(2)
				margin-right: 0


	.howWeWork
		.work-stages-wrap
			.work-stages
				margin: 0

	.professionals
		h2,p
			text-align: center
		h2
			&::after
				margin: 0 auto
		.awards
			justify-content: center
			margin-bottom: 30px
		form
			p
				text-align: left

	.comments
		p
			padding: 0 75px


	.b-top
		margin-left: 40%



	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.deals
		.img-wrap+span
			font-size: em(13px)

	.deals
		h3
			a
				&::after
					display: none

	.services
		button
			padding-left: 20px
			padding-right: 20px

	.comments
		p
			padding: 0 40px

	.b-top
		margin-left: 34%









	/**/



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	img[src*=logo]
		width: 70px
	.tel
		a
			line-height: 36px
	.menu
		line-height: 0

	.header-bottom-line
		h1
			margin-top: 20px
			font-size: 2.5em
			text-align: center
			&::after
				height: 6px

	.comments
		p
			padding: 0 10px

	.b-top
		margin-left: 32%








	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

